{% extends 'base.html' %}
{% block content %}

<div class="container my-5" style="max-height: 80vh; overflow-y: auto;">
  <div class="row">
    <div class="col-lg-9 col-md-12">
      <div class="row">
        {% for post in posts %}
        <div class="col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <a href="{{url('post/' ~ post.id)}}"
                class="btn btn-outline-info btn-lg w-100" role="button">
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text">{{post.text}}</p>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
