<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link text-light active" aria-current="page"
              href="/blog">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/blog/about">About</a>
          </li>

          <li class="nav-item">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                Categorias
              </button>
              <div class="dropdown-menu">
                {% for category in categories %}
                <a href="#"
                  class="dropdown-item text-decoration-none text-secondary">{{
                  category.titulo
                  }}</a>
                {% endfor %}
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>